html {
    font-family: Source Sans Pro;
}

footer {
    color: #808080;
    font-size: 90%;
}

footer img {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    color: #006789;
    text-decoration: none;
    border-bottom: dotted #cccccc 1px;
}

a:visited {
    color: #808080;
}

a:hover {
    color: black;
}

.title a, .title a:visited {
    color: black;
    text-decoration: none;
    border: none;
}

.nav {
    float: left;
    font-size: 200%;
}

.nav a {
    color: black;
    border: none;
}

h2 {
    -webkit-margin-after: 0px;
}

.item-detail {
    color: #808080;
}